/*style file created by us
00: CSS Variables
01: Layouts
02: Color
03: Font
04: Nice Decoration
05: Images & Table
*/

/*00: Variables*/
:root{
    --main-tab-color: hsla(27, 70%, 82%, 1);
    --main-font-color: white; 
}

/*01: Layouts*/
div.about, div.smallLeader, div.devs, div.logsign, div.thegame, div.rules, div.fullLeader, div.spotlight, div.profile, div.settings{
    position: absolute;
    padding: 5px;
    border-radius: 25px;
}
div.banner, div.navbar, div.banner2, div.navbar2{
    padding:0%;
    left:0%;
    width: 100%;
    z-index: 5;
}
div.banner, .banner2{
    position:fixed;
    top:0vh;
    height:10vh;
}
div.navbar, .navbar2{
    position:fixed;
    top: 74px;
}

h1{
    color:white;
    background-color: black;
    position: absolute;
    top:130px;
    left: 25vw;
    width:50vw;
    animation: 5s alternate infinite copycolor;}
h2{
    top:-60px;
    height:35px;
    position:relative;
    width:70%;
    left:10%;
    border-radius: 20px 20px 0px 0px;
	background-color: var(--main-tab-color);
}

div.about{
    top: 270px;
    left:10px;
    width: 50%;
    height: 360px;
}
#bugrep{
    position: relative;
    top: -66px;
}
#buglist{
    position: relative;
    top:-60px;
}
div.devs{
    left: 10px;
    top: 710px;
    width: 50%;
    height: 220px;    
}
div.item{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width:15vw;
}
div.item img{
    width: 5vw;
    border-radius: 50px;
    
}
div.item img:hover{
    width:7vw;
}
div.item span{
    display: block;
}
div.smallLeader{
    top: 270px;
    right: 10px;
    width: 40%;
    height: 300px;
}
.smallLeader table{
    width:100%;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5rem;
    background-color: white;
}
div.logsign{
    right:10px;
    top:670px;
    width:40%;
    height:260px;
}
div.thegame{
    top:250px;
    left: 10%;
    width: 80%;
    height: 600px;
}
div.rules{
    top: 1000px;
    left: 10%;
    width: 80%;
    height: auto;
}
div.fullLeader{
    top:300px;
    width:50%;
    height:auto;
}
.fullLeader table{
    width:100%;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5rem;
    background-color: white;
}
div.spotlight{
    right: 10px;
    top: 300px;
    width: 40%;
    height:auto;
}
.spotlight p{
    text-align: center;
    font-size: 1.5rem;
}
div.profile{
    top:300px;
    width:40%;
    height:auto;
}
.profile p{
    font-size: 2rem;
}
div.settings{
    right: 10px;
    top:300px;
    width:50%;
    height:auto;
}

/*02: Color*/
body{
    padding: 10px;
    background-image: url(../img/bgmain.png);
}
div.banner img, .banner2 img{
    width: 100%;
    height: 75px;
    object-fit: cover;
}
div.navbar, .navbar2{
    background-color: black;
}

div.about, div.smallLeader, div.devs, div.logsign, div.thegame, div.rules, div.fullLeader, div.spotlight, div.profile, div.settings{
    background-color: #ffffff;
    opacity: 0.8;
    background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#f3ba98 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #f3ba98 2px, #ffffff 2px) -1px 0;
    background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}
p, form, span, ol{
    background-color: white;
}

/*03: Font*/
h1, h2, h4{
    font-family: "Sofia", sans-serif;
    text-align: center;
}
p, ul, span{
    font-family: "Playpen Sans", sans-serif;
    text-align: center;
    font-weight: bold;
}
h4{
    font-size: 2rem;
    animation: 5s alternate infinite copycolor;
}

ol{
    font-family: "Playpen Sans", sans-serif;
    font-weight: 1000;
}

/*04: Nice Decoration*/
ul li{
    display: inline-table;
    padding-right: 50px;
    width: 200px;
}
a{
    color: rgb(250, 117, 8);
    text-decoration: none;
    font-weight: 300;
}
a:hover{
    font-size: 1.2em;
    color: white;
}
div.about h2:hover{
    color: white;
}
@keyframes copycolor{
    from{color:orange;}
    50%{color:rgb(139, 40, 0);}
}
input[type=text]:focus, input[type=password]:focus{
    background-color:rgb(231, 176, 131);
}
input[type=text], input[type=password], input[type=email]{
    width: 100%;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

/*05: Images & Table*/